body {
  background-image: url("https://img.freepik.com/free-vector/railway-transport-orthogonal-illustration_1284-36071.jpg?w=1380&t=st=1664484244~exp=1664484844~hmac=5d37e060707b8000023048cb89d83cbedff9dcf990c2a4c1fccc4c9695ab47c4");
  background-size: contain;
}

.myTrainRow {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(33, 33, 33);
  margin: auto;
  max-width: 80%;
  padding: 30px 20px 20px 20px;
  border-radius: 25px;
  margin-top: 50px;
  box-shadow: 5px 10px 10px;
}

.myTrainRow .title {
  margin-bottom: 20px;
}

.myTrainRow .row {
  min-width: 9.0909090909%;
  max-width: 9.0909090909%;
  padding: 5px;
  padding-right: 0px;
  margin-right: 10px;
  text-align: center;
  background-color: rgb(73, 73, 73);
  border: 0.2px solid rgb(33, 33, 33);
  color: rgb(255, 166, 0);
  text-shadow: 0px 0px 10px rgb(255, 166, 0);
  font-family: "DS-Digital", sans-serif;
}

.myTrainRow .circle-left {
  animation: myAnimation 2s infinite;
}

@keyframes myAnimation {
  0% {
    color: rgb(73, 73, 73);
    text-shadow: 0px 0px 0px;
  }

  50% {
    color: rgb(255, 166, 0);
    text-shadow: 0px 0px 10px;
  }

  100% {
    color: rgb(73, 73, 73);
    text-shadow: 0px 0px 0px;
  }
}

.myTrainRow .circle-right {
  animation: myAnimation2 2s infinite;
}

@keyframes myAnimation2 {
  0% {
    color: rgb(255, 166, 0);
    text-shadow: 0px 0px 10px;
  }

  50% {
    color: rgb(73, 73, 73);
    text-shadow: 0px 0px 0px;
  }

  100% {
    color: rgb(255, 166, 0);
    text-shadow: 0px 0px 10px;
  }
}

